// couleur charte graphique //

$color-grey : #000000;
$color-grey2 : rgb(237,237,237);

$color-white : rgb(255,255,255);


$color-white-08 : rgba(255,255,255,0.8);
$color-black-02 : rgba(0,0,0,0.2);

$shadow-1: 0px 0px 5px rgba(0, 0, 0, 1);

/*Marges*/
$padding-xsmall: 12px;
$padding-small: 25px;
$padding-medium: 50px;
$padding-large: 75px;
$padding-xlarge: 100px;

$margin-xsmall: 12px;
$margin-small: 25px;
$margin-medium: 50px;
$margin-large: 75px;
$margin-xlarge: 100px;



     