body{
    main{
        #weather-container{
            background: $color-blue;
            padding: 15px;
            border-radius: 5px;
            #town-name{
                text-align: center;
            }
            .weather-content {
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: $color-white;
                #clouds-container{
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    font-size: 20px;
                    img{
                        width: 75%;
                    }
                }
                #temperature-container{
                    font-size: 28px;
                }
            }
            form{
                text-align: center;
                color: $color-red;
                margin-top: 30px;
                #townNameInput{
                    background: unset;
                    border: unset;
                    border-bottom: 1px solid $color-red;
                    color: $color-red;
                    margin: 0 15px;
                    &:focus{
                        outline: none;
                    }
                }
                #townNameSubmit{
                    background: unset;
                    border: unset;
                    color: $color-red;
                    font-size: 24px;
                }
            }
        }
    }
}